body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.calculator {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 420px;
}

.display {
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 2em;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    color: #202020;
    border-radius: 5px;
    min-height: 50px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #dadce0; /* Medium grey */
    transition: background-color 0.2s;
}

.digit,
#dot {
    background-color: #f1f1f1; /* Light grey */
}

button:hover, #dot:hover {
    background-color: #c3d1c0; /* Pastel green */
}

#equals {
    background-color: #4285F4;
    transition: background-color 0.2s;
    color: white;
}

#equals:hover {
    background-color: #3873d6;
    color: white;
}

.ghost-parenthesis {
    color: lightgrey;
}